{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NOTES</title>
  <link rel="stylesheet" href="{% static 'lab4_note_list.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand">NOTES</a>
        <ul class="nav nav-pills">
          <li><a class="nav-link" href="/lab-4/">Table</a></li>
          <li><a class="nav-link" href="note-list">Card</a></li>
          <li><a class="nav-link active" href="add-note">Add Note</a></li>
        </ul>
      </div>
  </nav>    
  <div class="flex-gap">
    <form method="POST" action="">
      {% csrf_token %}
      <div role="alert">
        <p class="label-form">To :</p>
        <p>{{ form.receiver }}</p>
        <p class="label-form">From :</p>
        <p>{{ form.sender }}</p>
        <p class="label-form">Title :</p>
        <p>{{ form.title }}</p>
        <p class="label-form">Message :</p>
        <p>{{ form.message }}</p>
        <input type="submit" value="Add Note" class="btn btn-primary"/>
      </div>
    </form>
  </div>
  </body>
</html>
