{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NOTES</title>
  <link rel="stylesheet" href="{% static 'lab4_index.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">NOTES</a>
      <ul class="nav nav-pills">
        <li><a class="nav-link active" href="">Table</a></li>
        <li><a class="nav-link" href="note-list">Card</a></li>
        <li><a class="nav-link" href="add-note">Add Note</a></li>
      </ul>
    </div>
  </nav>
  <div class="table-container">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col" class="receiver">TO</th>
          <th scope="col" class="sender">FROM</th>
          <th scope="col" class="title">TITLE</th>
          <th scope="col">MESSAGE</th>
        </tr>
      </thead>
      <tbody>
        {% for note in notes %}
        <tr>
          <td class="receiver">{{ note.receiver }}</td>
          <td class="sender">{{ note.sender }}</td>
          <td class="title">{{ note.title }}</td>
          <td class="message">{{ note.message }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
