body {
    background-color: #0B243C;
    font-family: Lucida Grande;
    font-size: 14px;
}

header {
    display: flex;
    background-color: #E7E7DE;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: #0B243C;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

p {
    margin: 5px 0 5px 0;
}

.bi-card-text {
    margin-right: 5px;
}

.notes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #E7E7DE;
    width: 31%;
    border-radius: 6px;
    margin: 10px 10px 15px 10px;
}

.head-container {
    background-color: #0B243C;
    border-radius: 6px;
    margin: 5px 5px 0 5px;
    padding: 0 10px 0 10px;
    color: #E7E7DE;
    font-weight: bold;
}

.receiver{
    color: #FA8072;
}

.sender{
    color: #FFDAB9;
}

.title{
    color: #92E2E4;
}

.body-container {
    text-align: justify;
    margin: 5px;
    padding: 0px 10px 5px 10px;    
}

@media all and (max-width: 1000px) {
    .container {
      width: 45%;
    }
}

@media all and (max-width: 670px) {
    .container {
        width: 100%;
    }
}
