body {
    background-image: url(https://gradients.mijo-design.com/public/uploads/files/db7.png);
    background-size:cover;
    font-size: 14px;
}

.navbar {
    font-weight: bold;
}

.navbar a.navbar-brand, .navbar a.navbar-brand:hover {
    margin-left: 20px;
    color: #ffffff;
    font-size: 40px;
    text-shadow: #103871 0px 2px 10px, 5px 5px 5px rgba(255, 255, 255, 0);
}

.nav-pills a {
    color: #ffffff;
    font-family: Lucida Grande;
}

.nav-pills a:hover {
    background-color: #ffffff;
    color: #2b5484;
    box-shadow: #ffffff 0px 3px 8px, 3px 3px 3px rgba(255, 255, 255, 0);
}

.navbar .nav-pills a.active {
    background-color: #ffffff; 
    color: #2b5484;
}

.nav-link {
    margin-right: 20px;
}

thead {
    background-color: #2c5b90;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

thead th:first-child, .table-hover tbody tr:hover td:first-child {
    border-radius: 6px 0 0 6px;
}

thead th:last-child,.table-hover tbody tr:hover td:last-child {
    border-radius: 0 6px 6px 0;
}

th.receiver{
    color: #FA8072;
}

th.sender{
    color: #FFDAB9;
}

th.title{
    color: #92E2E4;
}

tbody {
    font-size: 14px;
}

td {
    padding: 5px 10px !important;
    text-align: center;
    position: relative;
    top: 5px; 
    column-width: auto;
}

td.message {
    text-align: justify;
    word-break: break-all;
    color: #103871;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ffffff;
    box-shadow: #103871 1px 1px 5px, 3px 3px 3px rgba(255, 255, 255, 0);
}

.table-container {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: #324d65 0px 8px 32px, 3px 3px 3px rgba(255, 255, 255, 0);
    border-radius: 6px;
    margin: 5px 30px 30px 30px;
    padding: 5px;
    font-family: Lucida Grande;
}

.receiver {
    color: #ff6655;
}

.sender {
    color: #ff9d00;
}

.title {
    color: #1c9193;
}
