body {
    background-image: url(https://gradients.mijo-design.com/public/uploads/files/db7.png);
    background-size:cover;
}

.navbar {
    font-weight: bold;
}

.navbar a.navbar-brand, .navbar a.navbar-brand:hover {
    margin-left: 20px;
    color: #ffffff;
    font-size: 40px;
    text-shadow: #103871 0px 2px 10px, 5px 5px 5px rgba(255, 255, 255, 0);
}

.nav-pills a {
    color: #ffffff;
    font-family: Lucida Grande;
}

.nav-pills a:hover, .nav-pills a.active:hover{
    background-color: #ffffff;
    color: #2b5484;
    box-shadow: #ffffff 0px 3px 8px, 3px 3px 3px rgba(255, 255, 255, 0) !important;
}

.navbar .nav-pills a.active {
    background-color: #ffffff; 
    color: #2b5484;
    box-shadow: #324d65 0px 5px 20px, 3px 3px 3px rgba(255, 255, 255, 0);
}

.nav-link {
    margin-right: 20px;
}

.flex-gap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding: 5px 30px 30px 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 31%;
    border-radius: 6px !important;
    border: none !important;
    box-shadow: #324d65 0px 8px 20px, 3px 3px 3px rgba(255, 255, 255, 0);
    font-size: 14px;
    font-family: Lucida Grande;
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.card:hover {
    background-color: #ffffff !important;
    box-shadow: #ffffff 0px 3px 8px, 3px 3px 3px rgba(255, 255, 255, 0);
}

.head-container {
    background-color: #2c5b90;
    border-radius: 6px;
    margin: 5px;
    padding: 10px;
    color: #ffffff;
}

.head-container p {
    font-weight: bold;
    margin-bottom: 0;
}

.receiver{
    color: #FA8072;
}

.sender{
    color: #FFDAB9;
}

.title{
    color: #92E2E4;
}

.body-container {
    text-align: justify;
    padding: 5px 15px 0 15px;
    color: #2b5484;    
}

@media all and (max-width: 1000px) {
    .card {
      width: 47%;
    }
}

@media all and (max-width: 670px) {
    .card {
        width: 100%;
    }
}
 