body {
    background-image: url(https://gradients.mijo-design.com/public/uploads/files/db7.png);
    background-size: cover;
}

.label-form {
    font-family: Lucida Grande !important;
    font-size: 14px;
    font-weight: bold;
}

.navbar {
    font-weight: bold;
}

.navbar a.navbar-brand, .navbar a.navbar-brand:hover {
    margin-left: 20px;
    color: #ffffff;
    font-size: 40px;
    text-shadow: #103871 0px 2px 10px, 5px 5px 5px rgba(255, 255, 255, 0);
}

.nav-pills a {
    color: #ffffff;
    font-family: Lucida Grande;
}

.nav-pills a:hover, .nav-pills a.active:hover{
    background-color: #ffffff;
    color: #2b5484;
    box-shadow: #ffffff 0px 3px 8px, 3px 3px 3px rgba(255, 255, 255, 0) !important;
}

.navbar .nav-pills a.active {
    background-color: #ffffff; 
    color: #2b5484;
    box-shadow: #324d65 0px 5px 20px, 3px 3px 3px rgba(255, 255, 255, 0);
}

.nav-link {
    margin-right: 20px;
}

.flex-gap {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5px 30px 30px 30px;
}

