{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend List</title>
    <link rel="stylesheet" href="{% static 'stylelab3.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
  <body>
    <header>
      <span class="bi bi-person-lines-fill"></span>
    </header>
    <div class="wrapper">
      <div class="container">
        <p class="title">YOUR FRIEND LIST</p>
        <table>
          <thead>
              <tr>
                <th>Name</th>
                <th>NPM</th>
                <th>DOB</th>
              </tr>
            </thead>
            <tbody>
              {% for friend in friends %}
              <tr>
                <td>{{ friend.name }}</td>
                <td class="npm">{{ friend.npm }}</td>
                <td class="dob">{{ friend.dob }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
