{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friend</title>
    <link rel="stylesheet" href="{% static 'stylelab3.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <header>
      <span class="bi bi-person-lines-fill"></span>
    </header>
    <div class="wrapper">
      <div class="container">
        <p class="title">ADD FRIEND TO YOUR FRIEND LIST</p>
        <form method="POST" action="">
          {% csrf_token %}
          <div role="alert">
            <p>Nama:</p>
            <p>{{ form.name }}</p>
            <p>NPM:</p>
            <p>{{ form.npm }}</p>
            <p>Tanggal Lahir:</p>
            <p>{{ form.dob }}</p>
          </div>
          <input type="submit" value="Add"/>
        </form>
      </div>
    </div>
  </body>
</html>
