{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'stylelab2.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <p><span class="bi-card-text"></span>NOTES</p>
    </header>
    <div class="notes-wrapper">
        {% for note in notes %}
        <div class="container">
            <div class="head-container">
                <p>To : <span class="receiver">{{ note.receiver }}</span></p>
                <p>From : <span class="sender">{{ note.sender }}</span></p>
                <p>Title : <span class="title">{{ note.title }}</span></p>
            </div>
            <div class="body-container">
                <p>{{ note.message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
