<!DOCTYPE html>
<html lang="en">
  <style>
    head, body {
      color: #003952;
      font-family: Trebuchet MS;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}</title>
  </head>
  <body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
  </body>
</html>
