body {
    background-color: #0B243C;
    font-family: Lucida Grande;
}

header {
    display: flex;
    background-color: #E7E7DE;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: #0B243C;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

table {
    margin-bottom: 25px;
    font-size: 14px;
    background-color: #E7E7DE;
    width: 90%;
}

thead {
    background-color: #0B243C;
    margin: 5px 5px 0 5px;
    padding: 0 10px 0 10px;
    color: #E7E7DE;
    font-weight: bold;
    border-radius: 6px;
}

tbody {
    background-color: #0B243C22;
}

th, td {
    width: max-content;
    padding: 8px 15px;
}

td {
    color: #0B243C;
}

form {
    margin-bottom: 25px;
    width: 80%;
    color: #0B243C;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 70px;
}

.container {
    background-color: #E7E7DE;
    width: 80%;
    border-radius: 6px;
    margin: 10px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #0B243C;
    font-size: 25px;
    margin: 25px 0 15px 0;
}

.npm, .dob {
    text-align: center;
}
